<div class="col-md-6">
  <h2 class="mb-4">Your inbox</h2>
  <% if (messages.length === 0 ) { %>
  <div class="lead">Your have no messages yet...</div>
  <% } %>
   <% messages.forEach(m => { %>
  <div>
    <a href="/inbox/<%= m.id %>"><%= m.from %> <%= m.timestamp %> </a>
  </div>
  <% }); %>
</div>
