<html>
  <head>
    <title>Send message</title>
  </head>
  <body>
    <header><%- include('./partials/_header-inside'); %></header>
    <!-- Page-specific content -->
    <h1>Send message</h1>
    <div><%- include('./partials/_message-submission'); %></div>
  </body>
</html>
