<body>
  <%- include('./partials/_header-inside'); %>
  <form action="/submit-form" method="POST">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Submit</button>
  </form>
</body>
